<div id="<%= dom_id project %>">
  <p>
    <strong>Playlistid:</strong>
    <%= project.PlaylistId %>
  </p>

  <p>
    <strong>Season:</strong>
    <%= project.Season %>
  </p>

  <p>
    <strong>Projectnote:</strong>
    <%= project.ProjectNote %>
  </p>

  <p>
    <strong>Projectdateini:</strong>
    <%= project.ProjectDateIni %>
  </p>

  <p>
    <strong>Projectdateend:</strong>
    <%= project.ProjectDateEnd %>
  </p>

  <p>
    <strong>Projectevision:</strong>
    <%= project.Projectevision %>
  </p>

</div>
