<%= form_with(model: playlist) do |form| %>
  <% if playlist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(playlist.errors.count, "error") %> prohibited this playlist from being saved:</h2>

      <ul>
        <% playlist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :PlaylistOrder, style: "display: block" %>
    <%= form.text_field :PlaylistOrder %>
  </div>

  <div>
    <%= form.label :WorkAutor, style: "display: block" %>
    <%= form.text_field :WorkAutor %>
  </div>

  <div>
    <%= form.label :WorkName, style: "display: block" %>
    <%= form.text_field :WorkName %>
  </div>

  <div>
    <%= form.label :WorkDuration, style: "display: block" %>
    <%= form.text_field :WorkDuration %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
