<div id="<%= dom_id playlist %>">
  <p>
    <strong>Playlistorder:</strong>
    <%= playlist.PlaylistOrder %>
  </p>

  <p>
    <strong>Workautor:</strong>
    <%= playlist.WorkAutor %>
  </p>

  <p>
    <strong>Workname:</strong>
    <%= playlist.WorkName %>
  </p>

  <p>
    <strong>Workduration:</strong>
    <%= playlist.WorkDuration %>
  </p>

</div>
