<%= form_with(model: schedule) do |form| %>
  <% if schedule.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
        <% schedule.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ProjectId, style: "display: block" %>
    <%= form.text_field :ProjectId %>
  </div>

  <div>
    <%= form.label :Room, style: "display: block" %>
    <%= form.text_field :Room %>
  </div>

  <div>
    <%= form.label :ScheduleType, style: "display: block" %>
    <%= form.text_field :ScheduleType %>
  </div>

  <div>
    <%= form.label :ScheduleName, style: "display: block" %>
    <%= form.text_field :ScheduleName %>
  </div>

  <div>
    <%= form.label :ScheduleDate, style: "display: block" %>
    <%= form.text_field :ScheduleDate %>
  </div>

  <div>
    <%= form.label :ScheduleHourRange, style: "display: block" %>
    <%= form.text_field :ScheduleHourRange %>
  </div>

  <div>
    <%= form.label :ScheduleNote, style: "display: block" %>
    <%= form.text_field :ScheduleNote %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
