<div id="<%= dom_id schedule %>">
  <p>
    <strong>Projectid:</strong>
    <%= schedule.ProjectId %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= schedule.Room %>
  </p>

  <p>
    <strong>Scheduletype:</strong>
    <%= schedule.ScheduleType %>
  </p>

  <p>
    <strong>Schedulename:</strong>
    <%= schedule.ScheduleName %>
  </p>

  <p>
    <strong>Scheduledate:</strong>
    <%= schedule.ScheduleDate %>
  </p>

  <p>
    <strong>Schedulehourrange:</strong>
    <%= schedule.ScheduleHourRange %>
  </p>

  <p>
    <strong>Schedulenote:</strong>
    <%= schedule.ScheduleNote %>
  </p>

</div>
